@charset "UTF-8";
/* CSS Document */


/******************************************************* 
						LAYOUT AREA USER
*******************************************************/

#backend-content {display:block;width:auto;overflow:auto;text-align: left; vertical-align: top;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;color: #000000;text-decoration: none;background-color: #ffffff;padding: 5px 5px 5px 5px;}
#backend-content h1, #backend-content h3 {padding-bottom:10px; color: #172C81; }
#backend-content h1, #backend-content h1 a { font-size:18px;  }
#backend-content h2 {
	background: none repeat scroll 0 0 #EEEEEE;
    border-color: #E3E3E3 #E3E3E3 #CCCCCC #CCCCCC;
    border-style: ridge;
    border-width: 1px;
    color: #172C81;
    margin-bottom: 10px;
    padding: 10px 5px;
}
#backend-content-home {display:block;width:auto;overflow:auto;text-align: left; vertical-align: top;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;color: #000000;text-decoration: none;background-color: #ffffff;padding: 0px 3px 0px 0px;background:url(/backoffice/img/home/body-bg.jpg) repeat-x top left;height:457px;}
#backend-content-home div strong#init {color:#FFFFFF;}

#backend-content a.filter-list{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #616060;padding-left: 5px;text-decoration:none;}
#backend-content a.filter-list:hover{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #000000;padding-left: 5px;text-decoration:none;}
#backend-content a.filter-list-active{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #000000;padding-left: 5px;text-decoration:none;}

.backend-localization { background-color:#FF0000; color:#FFFFFF; border:1px solid #000000;font-weight:bold; vertical-align:top;cursor: pointer;}
.backend-localization_verify { background-color:#FFFF00; color:#000000; border:1px solid #000000;font-weight:bold; vertical-align:top;cursor: pointer;}
.backend-localization_active { background-color:#669900; color:#FFFFFF; border:1px solid #000000;font-weight:bold; vertical-align:top;cursor: pointer;}

.formFieldTXT{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 20px;	width: 200px;}
.formFieldTXTLang{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 20px;	width: 200px;}
.formFieldTXTLangKeyword{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 20px;	width: 300px;}
.formFieldTXTShort{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 20px;	width: 40px;}
.formFieldTXTMedium{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 20px;	width:80px;}
.formFieldTXTMedium2{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 20px;	width:150px;}
.formFieldTXTMediumThin{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 14px;	width:100px;}
.formFieldTXTLong{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 20px;	width: 350px;}
.formFieldTXTLong2{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 20px;	width: 230px;}
.formFieldTXTAREA{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 30px;	width: 200px;}
.formFieldTXTAREAAbstract{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 100px;	width: 600px;}
.formFieldTXTAREABig{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 300px;	width: 600px;}
.formFieldTARGET{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	width: 250px;}
.formFieldAnnoPubblicazione{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	width: 40px;}
.formFieldSelectDataPub{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 20px;}
.formFieldSelectTypeFile{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 20px;}
.formFieldSelect{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 20px;}
.formFieldTXTlocalizAddr{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 20px;	width: 100px;}
.formFieldMultiple{font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;}
.formFieldTXTInternationalization{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 20px;	width: 200px; border:1px solid #C9C9C9;margin-bottom:2px;}
.formFieldTXTNumXPage{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;	height: 15px;	width: 30px;	border: 0px solid #FFFFFF;	text-align: center;}
.formfieldAjax{ height:15px;padding:0px;border: 1px solid #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;}
.formfieldAjaxShort{ height:15px;padding:0px;border: 1px solid #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;width:30px;}
.formfieldAjaxShort2{ height:15px;padding:0px;border: 1px solid #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;width:40px;}
.formfieldAjaxMedium{ height:15px;padding:0px;border: 1px solid #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;width:70px;}
.formfieldAjaxMedium2{ height:15px;padding:0px;border: 1px solid #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;width:130px;}
.formfieldAjaxMedium3{ height:15px;padding:0px;border: 1px solid #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;width:105px;}
.formfieldAjaxLong{ height:15px;padding:0px;border: 1px solid #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;width:200px;}
.formfieldAjaxBig{ height:15px;padding:0px;border: 1px solid #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;width:300px;}
.formfieldAjaxSelect{ height:20px;padding:0px;border: 1px solid #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;}
.formfieldAjaxArea{ height:35px;padding:0px;border: 1px solid #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;width:270px;}
.formfieldAjaxArea2{ height:35px;padding:0px;border: 1px solid #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;width:230px;}
.formfieldAjaxAreaSmall{ height:35px;padding:0px;border: 1px solid #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;width:220px;}
.formfieldAjaxAreaMedium{ height:35px;padding:0px;border: 1px solid #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	background-color: #FFFFFF;width:350px;}
.formFieldSelectSimple{width:120px;}

.form_reg_container_sx {width:250px;display:block;float:left;height:20px;vertical-align:middle;padding-top:10px;padding-left:5px;}
.form_reg_container_sx2 {width:255px;display:block;float:left;height:40px;vertical-align:middle;padding-top:10px;padding-left:5px;}
.form_reg_container_dx {width:300px;display:inline;vertical-align:middle; text-align:left;}
.form_reg_container_dx .input_form {width:300px; border:1px solid #E3E3E3; height:20px; margin:5px;}
.form_reg_container_dx .textarea_form {width:300px; border:1px solid #E3E3E3; height:80px; margin:5px;}
.form_reg_container_dx2 {width:300px;display:inline-block;vertical-align:middle; text-align:left;margin-bottom:20px;}
.form_reg_container_dx2 .input_form {width:300px; border:1px solid #E3E3E3; height:20px; margin:5px;}
.form_reg_container_dx2 .textarea_form {width:300px; border:1px solid #E3E3E3; height:80px; margin:5px;}
.form_reg_label {/*display: block;float:left;*/ font-size:0.9em;font-weight: bold;/*width:40%;height:15px;margin:5px;padding-top:5px;*/}

.buttonForm{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #000000;	text-decoration: none;	height: 20px;}
.labelForm{	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #727272;	text-decoration: none;	font-weight: bold;	}

.divDetailHeader{	padding:3px;cursor: pointer;	cursor: hand;	background-color:#C9C9C9;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #727272;	text-decoration: none;	font-weight: bold;	}
	
/*#backend-content #profilo-utente div span {
    background-color: #000000;
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
    text-transform: uppercase;
    min-width: 130px;
	margin-right:10px;
}
#backend-content #profilo-utente div.vals {
    background-color: #FFFFFF;
    color: #000000;
    min-height:30px;
	vertical-align:top;
}*/

.usr_field_container span {
	display: inline-block;
    min-height: 20px;
    padding-left: 5px;
    padding-top: 10px;
    vertical-align: middle;
    width: 250px;
    font-weight: bold;
    font-size:0.9em;
	float:left;
}
.usr_field_container input[type='text'] {width:300px; border:1px solid #E3E3E3; height:20px; margin:5px;}
.usr_field_container input[type='checkbox'] {display:inline-block;text-align:left;width:auto;margin-left:6px;vertical-align: bottom;padding-top:3px;}
.usr_field_container input[type='radio'] {display:inline-block;text-align:left;width:auto;margin-left:6px;vertical-align: bottom;padding-top:3px;}
.user_field_xcontainer{display:inline-block;padding-bottom:10px;padding-left:0px;}
.user_field_xcontainer span{width:auto;display:inline;float: none;vertical-align: middle;font-weight: normal;margin-left:0px;margin-right:5px;}
.user_field_rcontainer span{width:auto;display:inline;float:none;vertical-align: middle;font-weight: normal;margin-left:0px;margin-right:5px;}

.friends_table {
	width:100%;
    background-color:#FFFFFF;
    border:ridge 1px #E3E3E3;
    color: #172C81;    
}
.friends_table th {padding: 10px;background-color:#EEEEEE; height:15px;}
.friends_table td {padding: 10px;border-bottom:ridge 1px #E3E3E3;}

.area_user_tabs input{padding:8px;}
.area_user_tabs input.active{background-color:#EEEEEE; border:1px solid #000000;color:#172C81;}
.area_user_tabs input{background-color:#EEEEEE; border:1px solid #E3E3E3;}
.area_user_tabs input:hover{color:#172C81;cursor:pointer;}

#backend-content table.inner-table-cat-list{width:485px;border:none;}
#backend-content table.inner-table-cat-list th{text-align:left;font-weight: bold;color: #FFFFFF; background-color: #bc9e9e;vertical-align: middle;padding:3px;margin:0px;}

#backend-content table{border:1px solid #C9C9C9;}
#backend-content table.principal{width:100%;font-size: 11px;}
#backend-content table th{text-align:left;font-weight: bold;color: #727272; background-color: #C9C9C9;vertical-align: middle;padding:3px;margin:0px;}
#backend-content table.principal th.upper{text-transform:uppercase;white-space:nowrap;}
#backend-content table.principal th.filterrowfields{text-transform:uppercase;white-space:nowrap;}
#backend-content table.principal td.filterrowfields{}
#backend-content table.principal td{text-align:left;vertical-align: top;padding:3px;margin:0px;}
#backend-content table.principal td.special{text-align:left;vertical-align: top;padding:3px;margin:0px;}
#backend-content table tr{margin:0px;padding:0px;height:20px;}
#backend-content table tr.table-list-off{background-color: #FFFFFF;}
#backend-content table tr.table-list-on{background-color: #BAE4F9;}
#backend-content table.inner-table{width:100%;}
#backend-content table.inner-table th{text-align:left;font-weight: bold;color: #FFFFFF; background-color: #bc9e9e;vertical-align: middle;padding:3px;margin:0px;}
#backend-content table.inner-table td{text-align:left;vertical-align: middle;padding:3px;margin:0px;}
	
