*.*#
*.marks

.DS_Store

etc/.DS_Store

src/.DS_Store

src/App_code/.DS_Store

src/App_code/com/nemesys/.DS_Store

src/App_code/com/nemesys/model/.DS_Store

deploy/.DS_Store

src/area_user/.DS_Store

src/public/.DS_Store

src/App_code/com/nemesys/database/.DS_Store

deploy/.DS_Store
