<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>error page</title>
<meta name="autore" content="Neme-sys; email:info@neme-sys.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="../css/stile.css" type="text/css">
</head>
<body>
<!-- inizio container -->
<div id="container">
	<!-- header -->
	<div id="header" class="bg_nemesys">
		<div class="header_navbar">
			<h1 class="nemesys_h1" title="nemesys cms">ne<span>me-sys</span></h1>			
			<div class="div_login">
				<a href="/login.asp">Accedi!</a> Oppure <a href="/area_user/manageUser.asp">Registrati</a>
			</div>
		</div>		
	</div>
	<!-- header fine -->
	<!-- main -->
	<div id="main">		
		<!-- content -->	
		<div class="content">	
			si è verificato un errore irreversibile, probabilmente dovuto a problemi con il database!<br/><br/>
			Contattare l'amministratore di sistema!<br/><br/>
		</div>
		<!-- content fine -->		
	</div>
	<!-- main fine -->	
</div>
<!-- fine container -->
<div id="footer"><span>Powered by BHNet Online Technology Merchant Copyright © 2007-2011</span></div>
</body>
</html>