<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>error page</title>
<meta name="autore" content="Neme-sys; email:info@neme-sys.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="../css/stile.css" type="text/css">
</head>
<body>
<div id="warp">
	<div id="header">
		<div id="top-bar">
			<div id="top-bar-logo"><a href="/default.asp"><img src="/common/img/logo.png" width="133" height="38" hspace="2" vspace="0" border="0" align="left" alt=""></a></div>
			<div id="top-bar-search"></div>
			<div id="top-bar-lenguage">
				<ul>
				<li></li>
				</ul>
			</div>
		</div>
		<div id="image-container"></div>
	</div>	
	<div id="container">	
		<div id="menu-left"></div>
		<div id="content-center">
			si e' verificato un errore irreversibile, probabilmente dovuto a problemi con il database!<br/><br/>
			Contattare l'amministratore di sistema!<br/><br/>
		</div>
		<div id="menu-right"></div>
	</div>
	<div id="footer">Powered by BHN&nbsp;<span>Online Merchant Copyright &copy; 2007-2012</span></div>
</div>
</body>
</html>